@import '../settings/colors';
@import '../tools/breakpoints';

// =============================================================================
// RELATED CONTENT OVERVIEW
//
// Related content appears at the bottom of any post.
//
// =============================================================================

.w-related-content {
  border-bottom: 1px solid $GREY_300;
  border-top: 1px solid $GREY_300;
  padding-top: 64px;

  @include bp(md) {
    padding-top: 96px;
  }
}
